@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

h1{
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: #2D2E46;
}

button{
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

h2{
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #2D2E46;
}

._container {
  width: 100%;
  max-width: 1038px;
  margin: 0 auto;
  padding: 0 15px;
}

.app-wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 80px;
  width: 100%;
  display: flex;
  flex: 1 1 auto;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-radio input:checked ~ .checkmark {
  background-color: #9A91C8;
  color: #fff;
}

.custom-radio{
  display: flex;

  label{
    width: 100%;
    &:first-child{
      .checkmark{
        border-radius: 4px 0 0 4px;
      }
    }
    &:last-child{
      .checkmark{
        border-radius: 0 4px 4px 0;
      }
    }
  }

  .checkmark{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: #FFFFFF;
    width: 100%;
    max-height: 36px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import "./styles/scss/table";
