.table{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 0 0 20px 0 #e9e9f8;
  overflow: auto;


  &__header{
    background-color: #ECECF9;

    .table__cell{
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
    }
  }

  &__body{
    overflow: auto;
    flex-grow: 1;
  }

  &__row{
    display: grid;
    padding: 16px 24px;
    grid-template-columns: 3fr 1fr 2fr 2fr 3fr;
    gap: 10px;

    &:nth-child(2n){
      background-color: #F8F7FD;
    }
  }
}
