.table{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 0 0 20px 0 #e9e9f8;
  overflow: auto;


  &__header{
    background-color: #ECECF9;

    .table__cell{
      word-break: break-word;
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
    }
  }

  &__body{
    overflow: auto;
    flex-grow: 1;
  }

  &__row{
    display: grid;
    padding: 16px 24px;
    grid-template-columns: minmax(20%, 2fr) minmax(10%, 1fr) minmax(15%, 2fr) minmax(19%, 1fr) minmax(27%, 3fr);
    gap: 20px;

    .table__cell{
      word-break: break-word;

      &.actions{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
    }

    &:nth-child(2n){
      background-color: #F8F7FD;
    }
  }
}
